<head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
</head>
<body>
{% if data.dates %}
    <input id="date_range_field" type="text" name="daterange" value="valid_date_range"/>
{% else %}
    <input type="text" name="daterange" value="03/15/2020 - 08/15/2020"/>
{% endif %}
<script>
    var start_date = `{{ data.dates.start_date|escapejs }}`;
    var end_date = `{{ data.dates.end_date|escapejs }}`
    if (start_date) {
        {# If start_date exists, fill date input field with existing values. Code below reformats the django passed date strings into appropriate format. #}
        start_date = start_date.split("-")
        start_date = start_date[1] + "/" + start_date[2] + "/" + start_date[0]
        end_date = end_date.split("-")
        end_date = end_date[1] + "/" + end_date[2] + "/" + end_date[0]
        console.log(start_date)
        console.log(end_date)
        var input_date_range = start_date + " - " + end_date
        document.getElementById('date_range_field').value = input_date_range;
    }
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            $('#start_date').val(start.format('YYYY-MM-DD'))
            $('#end_date').val(end.format('YYYY-MM-DD'))

        });
    });
</script>
</body>
</html>